#wood {
    background-image: url(Assets/ManlyWood.jpg)
   }

#simple {
    background-color: rgb(48, 47, 44);
}
   h1 {
       color: white;
   }

   h2 {
       color: whitesmoke;
      
   }

   .contacth2 {
       text-align: center;
   }

   h3 {
       color: white;
   }

   h4 {
       color: rgba(255, 255, 255, 0.733);
   }

   .container   {
       background-color: rgb(77, 77, 77);
    }

p {
    color: white;
    background-color:rgb(48, 47, 44);
}




button {
    text-align: center;
}
